.vs
FacultyStudentPortal.BLL/bin/Debug
FacultyStudentPortal.Tests/bin/Debug/net9.0
FacultyStudentPortal.Tests/obj/Debug/net9.0/ref
FacultyStudentPortal.Web/obj/Debug/net9.0
FacultyStudentPortal.Web/bin/Debug/net9.0
FacultyStudentPortal.Tests/obj/Debug/net9.0/refint
FacultyStudentPortal.Tests/obj/Debug/net9.0
FacultyStudentPortal.Models/obj/Debug/net9.0/refint
FacultyStudentPortal.Models/obj/Debug/net9.0/ref
FacultyStudentPortal.Models/obj/Debug/net9.0
FacultyStudentPortal.Models/bin/Debug/net9.0
FacultyStudentPortal.DAL/obj/Debug/net9.0/refint
FacultyStudentPortal.DAL/obj/Debug/net9.0/ref
FacultyStudentPortal.DAL/obj/Debug/net9.0
FacultyStudentPortal.DAL/bin/Debug/net9.0
FacultyStudentPortal.BLL/obj/Debug/net9.0/refint
FacultyStudentPortal.BLL/obj/Debug/net9.0/ref
FacultyStudentPortal.BLL/obj/Debug/net9.0
FacultyStudentPortal.BLL/obj
FacultyStudentPortal.Tests/obj
FacultyStudentPortal.Web/obj
FacultyStudentPortal.Tests
