<h2>Student Performance</h2>

<canvas id="lineChart" width="600" height="300"></canvas>
<canvas id="pieChart" width="600" height="300" class="mt-5"></canvas>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/performance.js"></script>
}
